h1{
   color: red;
   font-family: fantasy;
   font-weight: 100;
}

p{
    font-weight: 600;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: darkred;
    color: aliceblue;
    font-size: large;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}